/* reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*{
    box-sizing: border-box;
    text-decoration: none;
}
#main{
    width: 100%;
}
#header{
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 100%;
    color: #fff;
}
.nav p {
    width:15% ;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s linear;
}
.nav p a{
    width:100% ;
    font-size: 18px;
    line-height: 150%;
}
.nav p:hover{
    background-color: #949494;
}
.nav p:hover a{
    color: #000;
}
a{
    color: #fff;
}
.supnav{
    height: 100%;
    overflow: hidden;
    width: 15%;
    transition: height 0.2s linear;
}
.supnav p{
    width: 100%;
    height: 60px;
}
.supnav:hover{
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
}
.supnav:hover p{
    color: #000;
    background-color: #8a8a8a;
}
.supnav:hover a{
    color: #fff;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.supnav a:hover{
    color: #000;
    background-color: #919191;
}
#header button{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    border: none;
    cursor: pointer;
}
#header button:hover{
    box-shadow: 1px 1px 4px 1px #4a89ff;
}
#header button:active{
    transform: translateY(5%);
}
#header button img{
    width: 20px;
    height: 20px;
}